//------------------------------------------------------------------
//Globals
//------------------------------------------------------------------

html {
    background: #eee image-url('bg_light_source.jpg') top no-repeat;
    color: #333;    
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow-y : scroll;
    
    -webkit-font-smoothing: antialiased;    
}

//Opera Fix for sticky footer
body:before {
    content:"";
    height: 100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

a,
a:visited {
    color: $blue;
}

h2, h3, h4, h5, h6 {
    @include proxima_regular;
    @include white_text_shadow_bottom;
}

h2 { 
  text-align: center;
    color: #666;
    font-size: 30px;
    line-height: 76px;
    
  @include proxima_regular;
      @include white_text_shadow_top;
}

h5 {
    border-bottom: 1px solid #bbb;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 11px;
    padding-bottom: 5px;
      
    @include proxima_light;
    @include white_box_shadow_bottom;      
}

h6 {
    font-family: "Helvetica Neue", Arial, sans-serif;	
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 9px;
}

p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 9px;
}

.wrap {
    background: image-url('bg_noise_transparent.png') center;
    min-height: 100%;
}

.wrap_inner {
    padding: 20px 0 50px 0;  
}

//------------------------------------------------------------------
//Buttons
//------------------------------------------------------------------

.button,
.button:visited { @include button }

.button:hover { @include button_hover }

.button:active { @include button_active }

//------------------------------------------------------------------
//V2 Ribbon
//------------------------------------------------------------------

.v2 {

}

.v2 a {
  color: #fff;
  display: block;
  padding: 7px;
  font-size: 14px;
  text-align: center;
  
  @include blue_text_shadow_top;
  @include gradient_solid_standard;
  @include proxima_regular;
}

//------------------------------------------------------------------
//Main Container
//------------------------------------------------------------------

.pane_wrapper:before,
.pane_wrapper:after {
  background: rgba(0, 0, 0, .4);
	content: '';
	z-index: -1;
	position: absolute;
	left: 1px;
	bottom: 5px;
	width: 20%;
	max-width: 300px;
	height: 60%;
	
	@include transform(skew(-18deg) rotate(-16deg));
	@include box-shadow(rgba(0, 0, 0, 0.8) 0 20px 30px);
}

.pane_wrapper:after {
  left: auto;
	right: 1px;

	@include transform(skew(18deg) rotate(16deg));
}

.experience_container {
    background: #fefefe image-url('bg_diagonal_lines.png') center;
    border: 8px solid #fff;
    height: 370px;
    margin: 0 auto;
    position: relative;
    width: 370px; 
  
  	@include box-shadow(rgba(0, 0, 0, 0.4) 0 2px 8px, inset rgba(0, 0, 0, 0.25) 0 1px 3px);
    @include background(image-url('bg_diagonal_lines.png'), radial-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1) 500px));  	      
}

.pane {
    display: block;
    height: 200px;
    left: 50%;   
    position: absolute;     
    top: 50%;    
    margin: -100px 0 0 -100px;
    width: 200px;
}

.pane:before,
.pane:after {
  background: image-url('png_splash_sprite.png');
  content:"";  
  display: block;
  height: 236px;   
  left: -19px;
  position: absolute;      
  top: -18px;
  width: 236px;       
}

.pane:before {
  background-position: -491px -13px; 
}

.pane:after {
  background-position: -224px -13px;
  z-index: 1;    
}

//------------------------------------------------------------------
//Logo
//------------------------------------------------------------------

h1 {
    background: transparent;
	cursor: pointer;
    height: 90px;
    left: 50%;
    margin: -50px 0 0 -50px;    
    position: absolute;
    top: 50%;
    width: 90px;
    z-index: 101;
}

h1 a {
    background: #fff;
    display: block;
    height: 100px;
    overflow: hidden;
    position: relative;
    text-indent: -6666px;
    width: 100px;
    
	@include background(linear-gradient(rgba(white, 1), rgba(221,221,221, 1)));
	@include border-radius(80px);
	@include box-shadow(rgba(34, 34, 34, .7) 0 5px 5px, rgba(34, 34, 34, .2) 0 0 5px);
	@include transition-property(box-shadow);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-in);
}

h1 a:hover,
h1 a:focus {
    background: #f0f0f0;

	@include background(linear-gradient(rgba(255, 255, 255, 1), rgba(200, 200, 200, 1)));
	@include box-shadow(rgba(34, 34, 34, .7) 0 5px 5px, rgba(34, 34, 34, .2) 0 0 5px, rgba(108, 173, 223, .5) 2px 4px 20px, rgba(108, 173, 223, .25) -9px -4px 20px);    
}

h1 a:active {
    margin-top: 1px;

    @include box-shadow(rgba(34, 34, 34, .7) 0 3px 3px, rgba(34, 34, 34, .1) 0 0 5px, rgba(108, 173, 223, .65) 2px 4px 25px, rgba(108, 173, 223, .25) 2px -4px 25px, rgba(108, 173, 223, .1) 0 0 40px, rgba(108, 173, 223, .4) -9px -4px 30px);  
    @include transition-property(box-shadow);
  	@include transition-duration(0.01s);
  	@include transition-timing-function(ease-in);
}

h1 a span {
    background: image-url('png_splash_sprite.png') 18px 31px;     
    display: block;
	position: relative;
    height: 100px;
    width: 100px;
    
    @include border-radius(50px);
}

//------------------------------------------------------------------
//Timer
//------------------------------------------------------------------

.timer {
  padding-top: 227px;
}

.timer ul {
  border: 1px solid #fff;
  border-bottom: 2px solid #6caddf;
  display: block;
  margin: 0 30px 0 30px;
  overflow: hidden; 
  padding: 10px 0 8px 0; 
  text-align: center;
  
  @include background(#fff linear-gradient(rgba(255,255,255, .1), rgba(0,0,0, .05)));
  @include box-shadow(rgba(0, 0, 0, .2) 0 0 5px);
}

.timer li {
  color: #333;
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-transform: lowercase;
  font-variant: small-caps; 
  margin: 0 16px;
  
  @include white_text_shadow_bottom;
  @include proxima_regular;
}

.timer li em {
  color: #666;
  display: block;
  font-size: 20px;
  font-style: normal; 
}

.timer .days {

}

.timer .hours {
    
}

.timer .minutes {

}

.timer .seconds {

}



//------------------------------------------------------------------
//Img Border
//------------------------------------------------------------------

.img_border {
    background: #fff;
    background-size: 100% 100%;
    //a lot depends on this border, specifically, the "new ribbon" and upper left post icons on blog
    border: 9px solid #fff;  
    display: block; 
    position: relative;  
    
    @include default_container_shadow;
    @include transition_default;
}

.img_border:before,
.img_border:after {
	background: rgba(0, 0, 0, .4);
	content: '';
	z-index: -1;
	position: absolute;
	left: 1px;
	bottom: 5px;
	width: 20%;
	max-width: 300px;
	height: 60%;
	
	@include transform(skew(-18deg) rotate(-16deg));
	@include box-shadow(rgba(0, 0, 0, 0.8) 0 20px 30px);   
}

.img_border:after {
	left: auto;
	right: 1px;

	@include transform(skew(18deg) rotate(16deg));
}

.img_border:hover:before,
.img_border:hover:after { @include box-shadow(rgba(0, 0, 0, 1) 0 17px 27px); }

.img_border .ribbon_new {
    right: -10px;
    top: -10px;	
}

.img_border .img_wrap {
	overflow: hidden;	
	position: relative;
	
    @include default_container_inner_shadow; 
    @include transition_default; 	
}

//------------------------------------------------------------------
//Social Links
//------------------------------------------------------------------

.links_social li {
	display: block;
    margin-bottom: 15px; 
	width: 100%;
	
	@include proxima_regular;
}

.links_social li a {
    display: block;   
    overflow: visible;
	position: relative;
    width: 100%;    
}

.links_social li a .button { 
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 38px;
    padding: 0 0 0 42px;
    
    @include proxima_regular;
}

.links_social li a span {
    background-image: image-url('png_master_sprite.png');
	display: block;
    height: 0;
	left: 11px;
	overflow: hidden;
	padding: 22px 0 0 0;	
	position: absolute;
	top: 8px;
	width: 22px;
	
	@include opacity(0.85);
    @include transition_default;
}

.links_social li a:hover span {
	@include opacity(1);
}

.links_social .dribbble span { background-position: 0px -95px; }
.links_social .facebook span { background-position: -1px -142px; }
.links_social .flickr span { background-position: 0px -190px; }
.links_social .linkedin span { background-position: -1px -239px; }
.links_social .last_fm span { background-position: -1px -285px; }
.links_social .twitter span { background-position: 0px -333px; }
