//------------------------------------------------------------------
//Social Links
//------------------------------------------------------------------

.links_social {
	display: block;
	overflow: hidden;
	position: absolute;
	left: -36px;
	padding-left: 6px;
	top: 10%;
	width: 29px;
}

.links_social li {
    margin: 0 0 2px 0;
}

.links_social li a {
	background: image-url('png_splash_sprite.png');    
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 28px;
	position: relative;
	width: 42px;
	
	@include opacity(0.4);
	@include transition-property(margin);
	@include transition-duration(0.1s);
	@include transition-timing-function(ease-in);	
}

.links_social li a em {
	display: none;
}


.links_social li a:hover {
  margin-left: -3px;
	opacity: 1;
}

.links_social li.linkedin a { background-position: -153px -1px; }
.links_social li.facebook a { background-position: -153px -30px; }
.links_social li.flickr a { background-position: -153px -59px; }
.links_social li.twitter a { background-position: -153px -88px;}
.links_social li.last_fm a { background-position: -153px -117px; }
.links_social li.dribbble a { background-position: -153px -146px; }

.links_social li.linkedin a:hover { background-position: -104px -1px; }
.links_social li.facebook a:hover { background-position: -104px -30px; }
.links_social li.flickr a:hover { background-position: -104px -59px; }
.links_social li.twitter a:hover { background-position: -104px -88px;}
.links_social li.last_fm a:hover { background-position: -104px -117px; }
.links_social li.dribbble a:hover { background-position: -104px -146px; }