//------------------------------------------------------------------
//Global
//------------------------------------------------------------------

.wrap_inner {
    padding: 150px 0 50px 0;  
}

h2 { 
    padding: 0;
    font-size: 30px;
    line-height: 76px;
}


//------------------------------------------------------------------
//V2 Ribbon
//------------------------------------------------------------------

.v2 {
  position: fixed;
  top: 0;
  left: 0;

}

.v2 a {
  background: image-url('png_splash_sprite.png') -82px -270px;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 155px 0 0 0;
  width: 155px;  
}

//------------------------------------------------------------------
//Main Container
//------------------------------------------------------------------

.pane_wrapper:before,
.pane_wrapper:after {
  background: rgba(0, 0, 0, .4);
	content: '';
	z-index: -1;
	position: absolute;
	left: 1px;
	bottom: 5px;
	width: 20%;
	max-width: 300px;
	height: 60%;
	
	@include transform(skew(-18deg) rotate(-16deg));
	@include box-shadow(rgba(0, 0, 0, 0.8) 0 20px 30px);
}

.pane_wrapper:after {
  left: auto;
	right: 1px;

	@include transform(skew(18deg) rotate(16deg));
}

.experience_container {
    background: #fefefe image-url('bg_diagonal_lines.png') center;
    border: 8px solid #fff;
    height: 370px;
    margin: 0 auto;
    position: relative;
    width: 370px; 
  
  	@include box-shadow(rgba(0, 0, 0, 0.4) 0 2px 8px, inset rgba(0, 0, 0, 0.25) 0 1px 3px);
    @include background(image-url('bg_diagonal_lines.png'), radial-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1) 500px));  	      
}

.pane {
    left: 50%;   
    position: absolute;     
    top: 50%;    
    margin: -100px 0 0 -100px;
}

//------------------------------------------------------------------
//Timer
//------------------------------------------------------------------

.timer {
  padding-top: 227px;
}

.timer ul {
      margin: 0 30px 0 30px;
}

//------------------------------------------------------------------
//Social Links
//------------------------------------------------------------------

.links_social {
	display: block;
	overflow: hidden;
	position: absolute;
	left: -44px;
	padding-left: 6px;
	top: 5%;
	width: 29px;
}

.links_social li {
    margin: 0 0 2px 0;
}

.links_social li a {
	background: image-url('png_splash_sprite.png');    
	display: block;
	height: 0;
	overflow: hidden;
	padding: 28px 0 0 0;
	position: relative;
	width: 42px;
	
	@include opacity(0.4);
	@include transition-property(margin);
	@include transition-duration(0.1s);
	@include transition-timing-function(ease-in);	
}

.links_social li a span {
display: none;
}

.links_social li a .button {
	display: none;
}


.links_social li a:hover {
  margin-left: -3px;
	opacity: 1;
}

.links_social li.linkedin a { background-position: -153px -1px; }
.links_social li.facebook a { background-position: -153px -30px; }
.links_social li.flickr a { background-position: -153px -59px; }
.links_social li.twitter a { background-position: -153px -88px;}
.links_social li.last_fm a { background-position: -153px -117px; }
.links_social li.dribbble a { background-position: -153px -146px; }

.links_social li.linkedin a:hover { background-position: -104px -1px; }
.links_social li.facebook a:hover { background-position: -104px -30px; }
.links_social li.flickr a:hover { background-position: -104px -59px; }
.links_social li.twitter a:hover { background-position: -104px -88px;}
.links_social li.last_fm a:hover { background-position: -104px -117px; }
.links_social li.dribbble a:hover { background-position: -104px -146px; }