/* line 1, ../scss/_reset.scss */
html, body {
  height: 100%;
}

/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 1, ../scss/_reset.scss */
body {
  line-height: 1em;
}

/* line 1, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 1, ../scss/_reset.scss */
:focus {
  outline: 0;
}

/* line 1, ../scss/_reset.scss */
ins {
  text-decoration: none;
}

/* line 1, ../scss/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 1, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../scss/_reset.scss */
input, textarea {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/* line 3, ../scss/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 5, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 9, ../scss/_reset.scss */
* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

/* line 5, ../scss/_320.scss */
html {
  background: #eeeeee url('../images/bg_light_source.jpg?1314749898') top no-repeat;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../scss/_320.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 24, ../scss/_320.scss */
a,
a:visited {
  color: #6caddf;
}

/* line 28, ../scss/_320.scss */
h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: white 0 1px 0;
}

/* line 33, ../scss/_320.scss */
h2 {
  text-align: center;
  color: #666;
  font-size: 30px;
  line-height: 76px;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: white 0 -1px 0;
}

/* line 43, ../scss/_320.scss */
h5 {
  border-bottom: 1px solid #bbb;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 11px;
  padding-bottom: 5px;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  -moz-box-shadow: white 0 1px 0;
  -webkit-box-shadow: white 0 1px 0;
  -o-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
}

/* line 54, ../scss/_320.scss */
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 9px;
}

/* line 61, ../scss/_320.scss */
p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 9px;
}

/* line 67, ../scss/_320.scss */
.wrap {
  background: url('../images/bg_noise_transparent.png?1314749898') center;
  min-height: 100%;
}

/* line 72, ../scss/_320.scss */
.wrap_inner {
  padding: 20px 0 50px 0;
}

/* line 81, ../scss/_320.scss */
.button,
.button:visited {
  border: 1px solid #6f9dc0;
  background: #6caddf;
  color: #fff;
  font-size: 14px;
  padding: 7px 12px 6px 12px;
  line-height: 34px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccf5), color-stop(100%, #81b5dc));
  background: -webkit-linear-gradient(#99ccf5, #81b5dc);
  background: -moz-linear-gradient(#99ccf5, #81b5dc);
  background: -o-linear-gradient(#99ccf5, #81b5dc);
  background: -ms-linear-gradient(#99ccf5, #81b5dc);
  background: linear-gradient(#99ccf5, #81b5dc);
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: #4c88b6 0 -1px 1px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 83, ../scss/_320.scss */
.button:hover {
  background: #8acbfc;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a3d6ff), color-stop(100%, #8bbfe6));
  background: -webkit-linear-gradient(#a3d6ff, #8bbfe6);
  background: -moz-linear-gradient(#a3d6ff, #8bbfe6);
  background: -o-linear-gradient(#a3d6ff, #8bbfe6);
  background: -ms-linear-gradient(#a3d6ff, #8bbfe6);
  background: linear-gradient(#a3d6ff, #8bbfe6);
}

/* line 85, ../scss/_320.scss */
.button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8bbfe6), color-stop(100%, #a3d6ff));
  background: -webkit-linear-gradient(#8bbfe6, #a3d6ff);
  background: -moz-linear-gradient(#8bbfe6, #a3d6ff);
  background: -o-linear-gradient(#8bbfe6, #a3d6ff);
  background: -ms-linear-gradient(#8bbfe6, #a3d6ff);
  background: linear-gradient(#8bbfe6, #a3d6ff);
}

/* line 95, ../scss/_320.scss */
.v2 a {
  color: #fff;
  display: block;
  padding: 7px;
  font-size: 14px;
  text-align: center;
  text-shadow: #4c88b6 0 -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccf5), color-stop(100%, #81b5dc));
  background: -webkit-linear-gradient(#99ccf5, #81b5dc);
  background: -moz-linear-gradient(#99ccf5, #81b5dc);
  background: -o-linear-gradient(#99ccf5, #81b5dc);
  background: -ms-linear-gradient(#99ccf5, #81b5dc);
  background: linear-gradient(#99ccf5, #81b5dc);
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 112, ../scss/_320.scss */
.pane_wrapper:before,
.pane_wrapper:after {
  background: rgba(0, 0, 0, 0.4);
  content: '';
  z-index: -1;
  position: absolute;
  left: 1px;
  bottom: 5px;
  width: 20%;
  max-width: 300px;
  height: 60%;
  -moz-transform: skew(-18deg) rotate(-16deg);
  -webkit-transform: skew(-18deg) rotate(-16deg);
  -o-transform: skew(-18deg) rotate(-16deg);
  -ms-transform: skew(-18deg) rotate(-16deg);
  transform: skew(-18deg) rotate(-16deg);
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
}

/* line 127, ../scss/_320.scss */
.pane_wrapper:after {
  left: auto;
  right: 1px;
  -moz-transform: skew(18deg) rotate(16deg);
  -webkit-transform: skew(18deg) rotate(16deg);
  -o-transform: skew(18deg) rotate(16deg);
  -ms-transform: skew(18deg) rotate(16deg);
  transform: skew(18deg) rotate(16deg);
}

/* line 134, ../scss/_320.scss */
.experience_container {
  background: #fefefe url('../images/bg_diagonal_lines.png?1314749898') center;
  border: 8px solid #fff;
  height: 370px;
  margin: 0 auto;
  position: relative;
  width: 370px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px, inset rgba(0, 0, 0, 0.25) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px, inset rgba(0, 0, 0, 0.25) 0 1px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px, inset rgba(0, 0, 0, 0.25) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px, inset rgba(0, 0, 0, 0.25) 0 1px 3px;
  background: url('../images/bg_diagonal_lines.png?1314749898'), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background: url('../images/bg_diagonal_lines.png?1314749898'), -webkit-radial-gradient(#ffffff, #e6e6e6 500px);
  background: url('../images/bg_diagonal_lines.png?1314749898'), -moz-radial-gradient(#ffffff, #e6e6e6 500px);
  background: url('../images/bg_diagonal_lines.png?1314749898'), -o-radial-gradient(#ffffff, #e6e6e6 500px);
  background: url('../images/bg_diagonal_lines.png?1314749898'), -ms-radial-gradient(#ffffff, #e6e6e6 500px);
  background: url('../images/bg_diagonal_lines.png?1314749898'), radial-gradient(#ffffff, #e6e6e6 500px);
}

/* line 146, ../scss/_320.scss */
.pane {
  display: block;
  height: 200px;
  left: 50%;
  position: absolute;
  top: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
}

/* line 157, ../scss/_320.scss */
.pane:before,
.pane:after {
  background: url('../images/png_splash_sprite.png?1321366081');
  content: "";
  display: block;
  height: 236px;
  left: -19px;
  position: absolute;
  top: -18px;
  width: 236px;
}

/* line 168, ../scss/_320.scss */
.pane:before {
  background-position: -491px -13px;
}

/* line 172, ../scss/_320.scss */
.pane:after {
  background-position: -224px -13px;
  z-index: 1;
}

/* line 181, ../scss/_320.scss */
h1 {
  background: transparent;
  cursor: pointer;
  height: 90px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 90px;
  z-index: 101;
}

/* line 193, ../scss/_320.scss */
h1 a {
  background: #fff;
  display: block;
  height: 100px;
  overflow: hidden;
  position: relative;
  text-indent: -6666px;
  width: 100px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: -ms-linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 211, ../scss/_320.scss */
h1 a:hover,
h1 a:focus {
  background: #f0f0f0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(#ffffff, #c8c8c8);
  background: -moz-linear-gradient(#ffffff, #c8c8c8);
  background: -o-linear-gradient(#ffffff, #c8c8c8);
  background: -ms-linear-gradient(#ffffff, #c8c8c8);
  background: linear-gradient(#ffffff, #c8c8c8);
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
}

/* line 218, ../scss/_320.scss */
h1 a:active {
  margin-top: 1px;
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.01s;
  -webkit-transition-duration: 0.01s;
  -o-transition-duration: 0.01s;
  transition-duration: 0.01s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 227, ../scss/_320.scss */
h1 a span {
  background: url('../images/png_splash_sprite.png?1321366081') 18px 31px;
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 241, ../scss/_320.scss */
.timer {
  padding-top: 227px;
}

/* line 245, ../scss/_320.scss */
.timer ul {
  border: 1px solid #fff;
  border-bottom: 2px solid #6caddf;
  display: block;
  margin: 0 30px 0 30px;
  overflow: hidden;
  padding: 10px 0 8px 0;
  text-align: center;
  background: white -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background: white -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background: white -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background: white -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background: white -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  background: white linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
}

/* line 258, ../scss/_320.scss */
.timer li {
  color: #333;
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: 0 16px;
  text-shadow: white 0 1px 0;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 271, ../scss/_320.scss */
.timer li em {
  color: #666;
  display: block;
  font-size: 20px;
  font-style: normal;
}

/* line 300, ../scss/_320.scss */
.img_border {
  background: #fff;
  background-size: 100% 100%;
  border: 9px solid #fff;
  display: block;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 313, ../scss/_320.scss */
.img_border:before,
.img_border:after {
  background: rgba(0, 0, 0, 0.4);
  content: '';
  z-index: -1;
  position: absolute;
  left: 1px;
  bottom: 5px;
  width: 20%;
  max-width: 300px;
  height: 60%;
  -moz-transform: skew(-18deg) rotate(-16deg);
  -webkit-transform: skew(-18deg) rotate(-16deg);
  -o-transform: skew(-18deg) rotate(-16deg);
  -ms-transform: skew(-18deg) rotate(-16deg);
  transform: skew(-18deg) rotate(-16deg);
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 20px 30px;
}

/* line 328, ../scss/_320.scss */
.img_border:after {
  left: auto;
  right: 1px;
  -moz-transform: skew(18deg) rotate(16deg);
  -webkit-transform: skew(18deg) rotate(16deg);
  -o-transform: skew(18deg) rotate(16deg);
  -ms-transform: skew(18deg) rotate(16deg);
  transform: skew(18deg) rotate(16deg);
}

/* line 336, ../scss/_320.scss */
.img_border:hover:before,
.img_border:hover:after {
  -moz-box-shadow: black 0 17px 27px;
  -webkit-box-shadow: black 0 17px 27px;
  -o-box-shadow: black 0 17px 27px;
  box-shadow: black 0 17px 27px;
}

/* line 338, ../scss/_320.scss */
.img_border .ribbon_new {
  right: -10px;
  top: -10px;
}

/* line 343, ../scss/_320.scss */
.img_border .img_wrap {
  overflow: hidden;
  position: relative;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 6px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 6px;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 6px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 355, ../scss/_320.scss */
.links_social li {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 363, ../scss/_320.scss */
.links_social li a {
  display: block;
  overflow: visible;
  position: relative;
  width: 100%;
}

/* line 370, ../scss/_320.scss */
.links_social li a .button {
  display: block;
  font-size: 16px;
  height: 36px;
  line-height: 38px;
  padding: 0 0 0 42px;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 380, ../scss/_320.scss */
.links_social li a span {
  background-image: url('../images/png_master_sprite.png?1320321149');
  display: block;
  height: 0;
  left: 11px;
  overflow: hidden;
  padding: 22px 0 0 0;
  position: absolute;
  top: 8px;
  width: 22px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 395, ../scss/_320.scss */
.links_social li a:hover span {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 399, ../scss/_320.scss */
.links_social .dribbble span {
  background-position: 0px -95px;
}

/* line 400, ../scss/_320.scss */
.links_social .facebook span {
  background-position: -1px -142px;
}

/* line 401, ../scss/_320.scss */
.links_social .flickr span {
  background-position: 0px -190px;
}

/* line 402, ../scss/_320.scss */
.links_social .linkedin span {
  background-position: -1px -239px;
}

/* line 403, ../scss/_320.scss */
.links_social .last_fm span {
  background-position: -1px -285px;
}

/* line 404, ../scss/_320.scss */
.links_social .twitter span {
  background-position: 0px -333px;
}

@media only screen and (min-width: 768px) {
  /* line 5, ../scss/_768.scss */
  .wrap_inner {
    padding: 150px 0 50px 0;
  }

  /* line 14, ../scss/_768.scss */
  .v2 {
    position: fixed;
    top: 0;
    left: 0;
  }

  /* line 21, ../scss/_768.scss */
  .v2 a {
    background: url('../images/png_splash_sprite.png?1321366081') -82px -270px;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 155px 0 0 0;
    width: 155px;
  }

  /* line 34, ../scss/_768.scss */
  .links_social {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -44px;
    padding-left: 6px;
    top: 5%;
    width: 29px;
  }

  /* line 44, ../scss/_768.scss */
  .links_social li {
    margin: 0 0 2px 0;
  }

  /* line 48, ../scss/_768.scss */
  .links_social li a {
    background: url('../images/png_splash_sprite.png?1321366081');
    display: block;
    height: 0;
    overflow: hidden;
    padding: 28px 0 0 0;
    position: relative;
    width: 42px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -moz-transition-property: margin;
    -webkit-transition-property: margin;
    -o-transition-property: margin;
    transition-property: margin;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  /* line 63, ../scss/_768.scss */
  .links_social li a span {
    display: none;
  }

  /* line 67, ../scss/_768.scss */
  .links_social li a em {
    display: none;
  }

  /* line 72, ../scss/_768.scss */
  .links_social li a:hover {
    margin-left: -3px;
    opacity: 1;
  }

  /* line 77, ../scss/_768.scss */
  .links_social li.linkedin a {
    background-position: -153px -1px;
  }

  /* line 78, ../scss/_768.scss */
  .links_social li.facebook a {
    background-position: -153px -30px;
  }

  /* line 79, ../scss/_768.scss */
  .links_social li.flickr a {
    background-position: -153px -59px;
  }

  /* line 80, ../scss/_768.scss */
  .links_social li.twitter a {
    background-position: -153px -88px;
  }

  /* line 81, ../scss/_768.scss */
  .links_social li.last_fm a {
    background-position: -153px -117px;
  }

  /* line 82, ../scss/_768.scss */
  .links_social li.dribbble a {
    background-position: -153px -146px;
  }

  /* line 84, ../scss/_768.scss */
  .links_social li.linkedin a:hover {
    background-position: -104px -1px;
  }

  /* line 85, ../scss/_768.scss */
  .links_social li.facebook a:hover {
    background-position: -104px -30px;
  }

  /* line 86, ../scss/_768.scss */
  .links_social li.flickr a:hover {
    background-position: -104px -59px;
  }

  /* line 87, ../scss/_768.scss */
  .links_social li.twitter a:hover {
    background-position: -104px -88px;
  }

  /* line 88, ../scss/_768.scss */
  .links_social li.last_fm a:hover {
    background-position: -104px -117px;
  }

  /* line 89, ../scss/_768.scss */
  .links_social li.dribbble a:hover {
    background-position: -104px -146px;
  }
}
